### Sereis is ndarry-like

Series acts very similarly to a ndarry, and is a valid argument to most Numpy functions, However, things like slicing also slice the index

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    1.473373
b    0.915352
c   -0.117936
d    0.663925
e    0.480793
dtype: float64

In [3]:
s[0]
s[:3]
s > s.median()
s[s > s.median()]
s[[4,3]]
np.exp(s)

a    4.363928
b    2.497655
c    0.888753
d    1.942401
e    1.617356
dtype: float64

### Series is dict like

A series is like a fixed-size dict in that you can get and set values by index labels:

In [4]:
print s['a']
s['e'] = 10.
s
'e' in s
10. in s

1.47337268154

False

if a lable is not contained, an exception is raised

In [5]:
s['f']

KeyError: 'f'

Using the get method, a missing label will return None or specified default:

In [ ]:
print s.get('f')
print s.get('f', np.NAN)

### Vectorized operations and label alignment with Series

When doing data analysis, as with raw

### Column selection, addition, deletion

You can treat a DataFrame semantically like a dict of like-indexd Series objects. Getting. Setting. and Deleting columns wokr with the same syntax as the analogous dict operation

In [ ]:
df = pd.DataFrame({
        'one': pd.Series([1,2,3], index=['a', 'b', 'c']),
        'two': pd.Series([4,5,6], index=['a', 'b', 'c'])
    })

In [ ]:
print df['one']
df['three'] = df['one'] * df['two']
df['flag'] = df['one'] > 2
print df

colmuns can be delete or poped like with a dict

In [ ]:
del df['two']
print df
three = df.pop('three')
print df

when inserting a scalar value, it will naturally be propergated to fill the column:

In [ ]:
df['foo'] = 'foo'
df

when inserting a Series that dose not have the same index as the dataframe, it will be conformed to the DataFrame's index

In [ ]:
df['one_truct'] = df['one'][:2]
print df

you can insert raw ndarray but there length must be match the lenght of dataFrame'index

by default columns get inserted at the end. the insert function is avaialbe to insert at a particular location in the columns

In [ ]:
df.insert(1,'bar',df['one'])
print df

### Data alignment and arithmetic

Data alignment between dataFrame object automatically align on both the columns and index (row labels). Again, the resulting object will have the union of the columns and labels

In [12]:
df = pd.DataFrame(np.random.randn(10,4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(7,3), columns=['a', 'b', 'c'])

df + df2

          a         b         c   d
0 -0.276075 -0.577958  0.293062 NaN
1 -0.392069  0.763597  0.036495 NaN
2  0.737574 -1.283810  0.301302 NaN
3  1.177891  1.262946  1.057088 NaN
4  0.598706  0.939900  1.020150 NaN
5 -1.229751  1.265387 -1.902240 NaN
6  0.047530  0.972545  2.649109 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [9]:
# pd.DataFrame(np.random.randn(10,4))

          0         1         2         3
0 -1.585020 -0.244537  1.188125  0.557900
1 -1.140766 -2.498126 -0.857953 -0.333316
2 -1.650070  0.454017  0.477063  0.187709
3  0.445545 -0.285485 -0.917187  0.789245
4  0.407409  1.157985 -1.233598  0.470484
5  1.722725  0.741234  0.136391  1.053451
6  0.881231  1.496925  1.410209 -0.758677
7  0.223064 -0.605537 -0.826261  0.588330
8  1.310569 -0.560107  0.881644 -0.860644
9  0.889259 -1.613744 -0.757390  1.797102

when doing an operation between dataFrame and Series, the default behavior is to align the Series index on DataFrame columns, thus broadcasting row-wise For example

In [13]:
print df.iloc[0]
print df - df.iloc[0]

a    0.535433
b    0.181077
c    0.549680
d   -0.532788
Name: 0, dtype: float64
          a         b         c         d
0  0.000000  0.000000  0.000000  0.000000
1 -0.939923  0.453630 -0.178037  0.967789
2 -0.342772 -0.823507 -1.180446  1.314895
3  0.547715  0.265239  0.674822  1.122532
4 -0.454948  0.444827 -0.415012 -0.387608
5 -1.704635  0.246127 -1.269014  0.632474
6 -0.563704  0.747286  0.100756 -1.044201
7 -0.989781 -0.191822 -1.572832  0.533794
8 -1.668769  0.366749 -0.537420  1.246275
9 -0.852811 -0.062594 -1.364167  1.316738

in the special case of working with time Sereis data and the DataFrame index also contain dates, the broadcasting will be column-wise

In [19]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8,3), index=index, columns=list('ABC'))
print df
print type(df['A'])
print df - df['A']

                   A         B         C
2000-01-01  1.809088 -0.203813 -1.358573
2000-01-02 -0.443242 -0.063783  0.368698
2000-01-03  0.104070  0.034189  0.284820
2000-01-04 -1.263363 -0.857205  0.322091
2000-01-05  0.170954 -2.082323  0.659992
2000-01-06  1.038349  0.529208  0.317085
2000-01-07  0.439479 -1.336760 -0.629958
2000-01-08 -0.700348  0.718012  0.696689
<class 'pandas.core.series.Series'>
            2000-01-01 00:00:00  2000-01-02 00:00:00  2000-01-03 00:00:00  \
2000-01-01                  NaN                  NaN                  NaN
2000-01-02                  NaN                  NaN                  NaN
2000-01-03                  NaN                  NaN                  NaN
2000-01-04                  NaN                  NaN                  NaN
2000-01-05                  NaN                  NaN                  NaN
2000-01-06                  NaN                  NaN                  NaN
2000-01-07                  NaN                  NaN                  NaN
2000-01-08                  NaN                  NaN                  NaN

            2000-01-04 00:00:00  2000-01-05 00:00:00  2000-01-06 00:00:00  \
2000-01-01                  NaN                  NaN                  NaN
2000-01-02                  NaN                  NaN                  NaN
2000-01-03                  NaN                  NaN                  NaN
2000-01-04                  NaN                  NaN                  NaN
2000-01-05                  NaN                  NaN                  NaN
2000-01-06                  NaN                  NaN                  NaN
2000-01-07                  NaN                  NaN                  NaN
2000-01-08                  NaN                  NaN                  NaN

            2000-01-07 00:00:00  2000-01-08 00:00:00   A   B   C
2000-01-01                  NaN                  NaN NaN NaN NaN
2000-01-02                  NaN                  NaN NaN NaN NaN
2000-01-03                  NaN                  NaN NaN NaN NaN
2000-01-04                  NaN                  NaN NaN NaN NaN
2000-01-05                  NaN                  NaN NaN NaN NaN
2000-01-06                  NaN                  NaN NaN NaN NaN
2000-01-07                  NaN                  NaN NaN NaN NaN
2000-01-08                  NaN                  NaN NaN NaN NaN

Operation with the scalars are just as you would expected:

In [20]:
df + 10

                    A          B          C
2000-01-01  11.809088   9.796187   8.641427
2000-01-02   9.556758   9.936217  10.368698
2000-01-03  10.104070  10.034189  10.284820
2000-01-04   8.736637   9.142795  10.322091
2000-01-05  10.170954   7.917677  10.659992
2000-01-06  11.038349  10.529208  10.317085
2000-01-07  10.439479   8.663240   9.370042
2000-01-08   9.299652  10.718012  10.696689

boolean operation work as well

In [23]:
df1 = pd.DataFrame({'a': [1,0,1], 'b':[0,1,1]})
df2 = pd.DataFrame({'a': [1,0,1], 'b':[0,1,1]})

print df1 & df2
print df1 | df2
print df1 ^ df2 #xor if diff then 1 if same 0 
print -df1

   a  b
0  1  0
1  0  1
2  1  1
   a  b
0  1  0
1  0  1
2  1  1
   a  b
0  0  0
1  0  0
2  0  0
   a  b
0 -1  0
1  0 -1
2 -1 -1

### Transposing

To transpose, access the T attribute (also the transpose function), similar to an ndarry:

In [26]:
print df[:5]
print df[:5].T

                   A         B         C
2000-01-01  1.809088 -0.203813 -1.358573
2000-01-02 -0.443242 -0.063783  0.368698
2000-01-03  0.104070  0.034189  0.284820
2000-01-04 -1.263363 -0.857205  0.322091
2000-01-05  0.170954 -2.082323  0.659992
   2000-01-01  2000-01-02  2000-01-03  2000-01-04  2000-01-05
A    1.809088   -0.443242    0.104070   -1.263363    0.170954
B   -0.203813   -0.063783    0.034189   -0.857205   -2.082323
C   -1.358573    0.368698    0.284820    0.322091    0.659992