In [1]:
import pandas as pd
import numpy as np

In [17]:
index = pd.date_range('10/1/1999', periods=4) 
ts = pd.Series(np.random.normal(0.5,2,4), index=index)
print ts

1999-10-01    2.259447
1999-10-02    0.784233
1999-10-03    4.289463
1999-10-04   -3.390322
Freq: D, dtype: float64

In [26]:
key = lambda x: x.year
zscore = lambda x: (x - x.mean()) / x.std()

transformed = ts.groupby(key).transform('count')
transformed

1999-10-01    4
1999-10-02    4
1999-10-03    4
1999-10-04    4
Freq: D, dtype: int64

In [49]:
frame = pd.DataFrame({
        'A': pd.Series([0,1,0,3], index=list('abcd')),
        'B': pd.Series([0,1,1,3], index=list('abcd'))
})

print frame

   A  B
a  0  0
b  1  1
c  0  1
d  3  3

In [54]:
frame.groupby('A').count()

   B
A
0  2
1  1
3  1

In [58]:
frame.groupby('A')['B'].transform(lambda x: x)

a    0
b    1
c    1
d    3
Name: B, dtype: int64